.filter-buttons button {
    background-color: transparent;
    border: none;
    margin-right: 0.5rem;
    cursor: pointer;
}

.filter-buttons button.active {
    font-weight: bold;
    text-decoration: underline;
}